.info{
    margin-top: 0;
}
label{
    padding: 10px;
}
.btnRezervation{
    background: #2789a7;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 45px;
    width: 15%;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
}
.btnRezervation:hover {
    background: transparent;
    color: #2789a7;
    border: 2px solid #2789a7;
}